.topBar {
  width: 100vw; /* ocupa toda a largura da viewport */
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d9d9;
  padding: 8px 40px; /* espaçamento interno */
  border-radius: 0; /* remove bordas arredondadas, se quiser um retângulo completo */
  margin: 0; /* remove qualquer margem externa */
  gap: 10px;
}

.leftGroup,
.rightGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.container {
  max-width: none;
  padding: 0;
  margin: 0;
}

.item {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  text-decoration: none;
}

.separator {
  width: 1px;
  height: 25px;
  background-color: #aaa;
  border-left: 2px solid #000;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
  /* remover qualquer position: absolute */
}

@media (max-width: 768px) {
  .item {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
  }

  .icon {
    width: 32px;
    height: 32px;
  }
}
