.retangulo {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipo1 {
  background-color: #003366;
  height: 150px;
}

.tipo2 {
  background: #d9d9d9;
  height: 41px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tipo3 {
  background-color: #007bff;
  height: 182px;
  width: 977px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tipo4 {
  width: 157px;
  height: 41px;
  background-color: #ffffff8a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 0;
  flex-shrink: 0;
}

.tipo5 {
  width: 850px;
  height: 95px;
  background: #2c70f4;
  margin-bottom: 30px;
}

.tipo85 {
  width: 597px;
  height: 441px;
  top: 382px;
  left: 421px;
  border-radius: 20px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.tipo12 {
  background: #d9d9d9;
  height: 41px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
}

@media (max-width: 1024px) {
  .tipo3 {
    width: 100%;
  }

  .tipo5 {
    width: 100%;
  }

  .tipo85 {
    width: 100%;
  }
}
