.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
  padding: 1rem;
  width: 100%;
  box-sizing: content-box;
}

.postsSection {
  flex: 1;
  padding: 1rem;
}

.comunidades {
  flex-shrink: 0;
  width: 300px;
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 90vw;
}

.cardComunidade {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cardComunidade h3 {
  margin: 0.5rem 0 0.2rem 0;
  font-size: 1rem;
}

.cardComunidade p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .comunidades {
    width: 100%;
  }
}
